In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

In [2]:
vacweather = pd.read_csv("Weather.csv")
vacweather

,City,Country,City Number,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Ilulissat,GL,3423146,69.22,-51.10,5.00,45,0,17.22
1,Bathsheba,BB,3374083,13.22,-59.52,77.00,94,20,9.17
2,Punta Arenas,CL,3874787,-53.15,-70.92,46.40,65,75,29.97
3,Kapaa,US,5848280,22.08,-159.32,81.01,69,75,11.41
4,Tuktoyaktuk,CA,6170031,69.45,-133.04,14.00,85,90,28.86
...,...,...,...,...,...,...,...,...,...
453,Kiboga,UG,231550,0.92,31.77,61.79,98,0,1.92
454,Neiafu,TO,4032420,-18.65,-173.98,82.40,74,20,9.17
455,Manacapuru,BR,3663529,-3.30,-60.62,80.60,88,20,3.69
456,Yeppoon,AU,2142316,-23.13,150.73,89.60,52,40,5.82
457,Kimberley,ZA,990930,-28.73,24.76,69.80,56,0,6.93

In [3]:
gmaps.configure(g_key)

locations = vacweather[["Latitude", "Longitude"]]
humidity = vacweather["Humidity (%)"]


fig = gmaps.figure(center=(15, 25), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
temp_filt = (vacweather['Temperature (F)']>70)
windspeed_filt = vacweather['Wind Speed (mph)']<15
cloud_filt = vacweather["Cloudiness (%)"] == 0
vacweather_filt = vacweather[temp_filt & windspeed_filt & cloud_filt]

vacweather_filt

,City,Country,City Number,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
8,Kiama,AU,2161515,-34.68,150.87,76.42,75,0,9.24
50,Cayenne,GF,3382160,4.93,-52.33,75.20,100,0,2.24
74,Campo Verde,BR,3467673,-20.42,-54.07,78.80,69,0,2.24
77,Bandiagara,ML,2460489,14.35,-3.61,71.60,40,0,4.70
109,Cidreira,BR,3466165,-30.18,-50.21,71.55,85,0,14.79
113,Micheweni,TZ,153955,-4.97,39.83,78.10,77,0,5.06
146,Ayorou,NE,2447416,14.73,0.92,78.64,18,0,11.12
165,Flinders,AU,6255012,-34.58,150.86,77.11,66,0,3.00
172,San Bartolomé de Tirajana,ES,2511440,27.92,-15.57,73.18,64,0,8.05
179,Yuli,NG,2317982,9.70,10.27,76.48,29,0,6.42
183,Kousséri,CM,2229798,12.08,15.03,77.00,23,0,12.75
197,Salalah,OM,286621,17.02,54.09,71.60,56,0,1.12
218,Charters Towers,AU,2171722,-20.10,146.27,93.13,32,0,8.68
245,Teguise,ES,2510573,29.06,-13.56,71.60,56,0,4.70
274,Karratha,AU,6620339,-20.74,116.85,86.56,25,0,8.77
276,Moree,AU,2156927,-29.47,149.85,91.40,14,0,12.75
286,Merauke,ID,2082539,-8.47,140.33,85.01,54,0,9.57
316,Airai,TL,1651810,-8.93,125.41,77.94,46,0,3.20
332,Māngrol,IN,1263752,21.12,70.12,76.60,56,0,9.22
350,Port Lincoln,AU,2063036,-34.73,135.87,78.57,36,0,7.00
364,Clarence Town,AU,2171465,-32.58,151.78,80.01,69,0,10.29
368,Saint-Louis,SN,2246451,16.33,-15.00,75.20,47,0,2.24
375,Ulladulla,AU,2145554,-35.35,150.47,78.44,50,0,8.05
377,Suchitoto,SV,3583090,13.94,-89.03,75.20,100,0,8.05
385,Mount Isa,AU,2065594,-20.73,139.50,96.80,28,0,5.82
390,Wajir,KE,178443,1.75,40.06,77.56,78,0,10.16
416,Vila Velha,BR,3445026,-20.33,-40.29,77.00,94,0,8.05
421,Aripuanã,BR,3665202,-9.17,-60.63,76.87,81,0,1.01
431,Santa Maria,BR,3450083,-29.68,-53.81,80.60,54,0,4.70

In [5]:
hotel_df = vacweather_filt
hotel_df['Hotels'] = ""
hotel_df

,City,Country,City Number,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotels
8,Kiama,AU,2161515,-34.68,150.87,76.42,75,0,9.24,
50,Cayenne,GF,3382160,4.93,-52.33,75.20,100,0,2.24,
74,Campo Verde,BR,3467673,-20.42,-54.07,78.80,69,0,2.24,
77,Bandiagara,ML,2460489,14.35,-3.61,71.60,40,0,4.70,
109,Cidreira,BR,3466165,-30.18,-50.21,71.55,85,0,14.79,
113,Micheweni,TZ,153955,-4.97,39.83,78.10,77,0,5.06,
146,Ayorou,NE,2447416,14.73,0.92,78.64,18,0,11.12,
165,Flinders,AU,6255012,-34.58,150.86,77.11,66,0,3.00,
172,San Bartolomé de Tirajana,ES,2511440,27.92,-15.57,73.18,64,0,8.05,
179,Yuli,NG,2317982,9.70,10.27,76.48,29,0,6.42,
183,Kousséri,CM,2229798,12.08,15.03,77.00,23,0,12.75,
197,Salalah,OM,286621,17.02,54.09,71.60,56,0,1.12,
218,Charters Towers,AU,2171722,-20.10,146.27,93.13,32,0,8.68,
245,Teguise,ES,2510573,29.06,-13.56,71.60,56,0,4.70,
274,Karratha,AU,6620339,-20.74,116.85,86.56,25,0,8.77,
276,Moree,AU,2156927,-29.47,149.85,91.40,14,0,12.75,
286,Merauke,ID,2082539,-8.47,140.33,85.01,54,0,9.57,
316,Airai,TL,1651810,-8.93,125.41,77.94,46,0,3.20,
332,Māngrol,IN,1263752,21.12,70.12,76.60,56,0,9.22,
350,Port Lincoln,AU,2063036,-34.73,135.87,78.57,36,0,7.00,
364,Clarence Town,AU,2171465,-32.58,151.78,80.01,69,0,10.29,
368,Saint-Louis,SN,2246451,16.33,-15.00,75.20,47,0,2.24,
375,Ulladulla,AU,2145554,-35.35,150.47,78.44,50,0,8.05,
377,Suchitoto,SV,3583090,13.94,-89.03,75.20,100,0,8.05,
385,Mount Isa,AU,2065594,-20.73,139.50,96.80,28,0,5.82,
390,Wajir,KE,178443,1.75,40.06,77.56,78,0,10.16,
416,Vila Velha,BR,3445026,-20.33,-40.29,77.00,94,0,8.05,
421,Aripuanã,BR,3665202,-9.17,-60.63,76.87,81,0,1.01,
431,Santa Maria,BR,3450083,-29.68,-53.81,80.60,54,0,4.70,

In [13]:
hotels = []

url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {"radius" : 5000,
          "type" : "hotel",
          "keyword" : "Hotel",
          "key" : g_key}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    response = requests.get(url, params=params).json()

    try:
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append(None)

In [15]:
hotel_df['Hotels'] = hotels
hotel_df = hotel_df.dropna(how='any')
hotel_df

,City,Country,City Number,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotels
8,Kiama,AU,2161515,-34.68,150.87,76.42,75,0,9.24,The Sebel Kiama Harbourside
50,Cayenne,GF,3382160,4.93,-52.33,75.20,100,0,2.24,Royal Amazonia
77,Bandiagara,ML,2460489,14.35,-3.61,71.60,40,0,4.70,Hotel de la Falaise
109,Cidreira,BR,3466165,-30.18,-50.21,71.55,85,0,14.79,Hotel Castelo
146,Ayorou,NE,2447416,14.73,0.92,78.64,18,0,11.12,Hotel Amenokal
165,Flinders,AU,6255012,-34.58,150.86,77.11,66,0,3.00,Lakeview Hotel Motel
172,San Bartolomé de Tirajana,ES,2511440,27.92,-15.57,73.18,64,0,8.05,Las Tirajanas
183,Kousséri,CM,2229798,12.08,15.03,77.00,23,0,12.75,"Radisson Blu Hotel, N'Djamena"
197,Salalah,OM,286621,17.02,54.09,71.60,56,0,1.12,Alpha Suites Hotel
218,Charters Towers,AU,2171722,-20.10,146.27,93.13,32,0,8.68,Commercial Hotel
245,Teguise,ES,2510573,29.06,-13.56,71.60,56,0,4.70,HOTEL BOUTIQUE PALACIO ICO
274,Karratha,AU,6620339,-20.74,116.85,86.56,25,0,8.77,Latitude20 The Dunes Apartments
276,Moree,AU,2156927,-29.47,149.85,91.40,14,0,12.75,Dragon Phoenix Resort
350,Port Lincoln,AU,2063036,-34.73,135.87,78.57,36,0,7.00,Port Lincoln Hotel
364,Clarence Town,AU,2171465,-32.58,151.78,80.01,69,0,10.29,Erringhi Hotel
375,Ulladulla,AU,2145554,-35.35,150.47,78.44,50,0,8.05,Bannisters Pavilion Rooftop Bar & Grill
377,Suchitoto,SV,3583090,13.94,-89.03,75.20,100,0,8.05,Los Almendros de San Lorenzo
385,Mount Isa,AU,2065594,-20.73,139.50,96.80,28,0,5.82,Isa Hotel
390,Wajir,KE,178443,1.75,40.06,77.56,78,0,10.16,Wajir Palace Hotel
416,Vila Velha,BR,3445026,-20.33,-40.29,77.00,94,0,8.05,Golden Tulip Porto Vitória
431,Santa Maria,BR,3450083,-29.68,-53.81,80.60,54,0,4.70,Hotel Dom Rafael - Premium

In [16]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotels}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [17]:
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))